/* General Styles */

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Element Selector: Styling the main heading (h1) */

h1 {
   ]
}

/* Class selectors */


/* ID Selectors */